OS junk files
[Tt]humbs.db
*.DS_Store

# Office Temp Files
~$*

#Project files
.metadata/
RemoteSystemsTempFiles/


#Exclude objects files
*.o
#**/*.o

#[Bb]in
#[Dd]ebug*/
#[Rr]elease*/
